@import './base.css';

.articleTitle {
    border-bottom: solid 2px grey;
}
.image-style-align-left {
    float: left;
    margin-right: 1vw;
}

.articleExcerpt {
    color: rgba(var(--bs-dark-rgb),0.7);
    /* color: red; */
}

/* From CKEditor */