{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<link rel="stylesheet" href="/staticfiles/django_ckeditor_5/dist/styles.css" type="css">

{% endblock %}

{% block extra_title %}
  Blog
{% endblock %}

{% block content %}
  <div class="container-fluid d-flex justify-content-center">
      <div class="col-12 col-md-8 offset-m-2 article-container">
        <div class="row article-header-container">
          <h1 class="articleTitle">{{ article.title }}</h1>
          <h3 class="articleExcerpt">{{ article.excerpt }}</h3>
          <img class="article-header-img p-0 rounded-4" src="{{ MEDIA_URL }}{{ article.articleImage }}" alt="">
        </div>
        <div class="article-body-container">
          <p>{{ article.content | safe }}</p>
        </div>
      </div>
    
    
  </div>
{% endblock %}
