{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Blog
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 ">

    Blog page

    {% for article in articles %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{article.id}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{article.title}}</h6>
                <p class="card-text">{{article.content}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/pexels-pixabay-356056.jpg' %}" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <p class="card-title">Some text, yeye</p>

            </div>
            

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        
    {% empty %}
    No articles found

    {% endfor %}


</div>
{% endblock %}